---
const { frontmatter, url } = Astro.props.post;
const date =
  frontmatter.publishDate?.toString().split(" ")[0].split("T")[0] ||
  new Date().toISOString();

const year = date.split("-")[0];
const month = date.split("-")[1] - 1;
const day = date.split("-")[2];

const monthNames = [
  "Enero",
  "Febrero",
  "Marzo",
  "Abril",
  "Mayo",
  "Junio",
  "Julio",
  "Agosto",
  "Septiembre",
  "Octubre",
  "Noviembre",
  "Diciembre",
];
---

<article
  class="flex bg-gray-100 dark:bg-gray-800 dark:shadow-gray-800/25 dark:border-gray-600 dark:border-solid dark:border-2"
>
  <div class="rotate-180 p-2 [writing-mode:_vertical-lr]">
    <time
      datetime={frontmatter.publishDate}
      class="flex items-center justify-between gap-4 text-xs font-bold uppercase text-gray-900 dark:text-gray-200"
    >
      <span>{year}</span>
      <span class="w-px flex-1 bg-gray-900/10"></span>
      <span>{day} - {monthNames[month]}</span>
    </time>
  </div>

  <div class="hidden sm:block sm:basis-56">
    <img
      alt={`${frontmatter.title} cover`}
      src={`${frontmatter.img}`}
      class="aspect-square h-full w-full object-cover"
      loading="lazy"
    />
  </div>

  <div class="flex flex-1 flex-col justify-between">
    <div class="border-l border-gray-900/10 p-4 sm:border-l-transparent sm:p-6">
      <a href={url} class="block">
        <p class="font-bold uppercase text-gray-900 dark:text-white h-3 w-fit">
          {frontmatter.title}
        </p>
      </a>

      <p
        class="mt-2 relative bottom-0 clear-both text-sm leading-relaxed text-gray-700 line-clamp-3 dark:text-gray-200"
      >
        {frontmatter.description}
      </p>
    </div>

    <div class="sm:flex sm:items-end sm:justify-end">
      <a
        href={url}
        class="block bg-orange-400 px-5 py-3 text-center text-xs font-bold uppercase text-gray-900 transition hover:bg-orange-400"
      >
        Ver presentación
      </a>
    </div>
  </div>
</article>
