---
import MainHead from "../components/MainHead.astro";
import Footer from "../components/Footer.astro";
import Nav from "../components/Nav.astro";

const { content } = Astro.props;
---

<html lang={content.lang || "en"}>
  <head>
    <MainHead title={content.title} description={content.description} />
    <style>
      .hero {
        padding: 8rem;
        display: flex;

        background-repeat: no-repeat;
        background-size: cover;
        min-height: 25vw;
        color: white;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }

      .tag {
        margin-left: 0.5em;
        margin-right: 0.5em;
        text-transform: uppercase;
      }

      .tag:nth-of-type(1n) {
        color: var(--c-green);
      }
      .tag:nth-of-type(2n) {
        color: var(--c-orange);
      }
      .tag:nth-of-type(3n) {
        color: var(--c-blue);
      }
      .tag:nth-of-type(4n) {
        color: var(--c-pink);
      }

      .title {
        font-weight: 900;
        text-transform: uppercase;
        letter-spacing: 0.0625em;
      }

      .leadIn {
        padding-top: 4em;
        color: var(--t-bg);
        background-color: var(--t-fg);
        text-align: center;
      }

      .tagline {
        font-weight: 300;
        font-size: var(--f-u3);
        line-height: 1.5;
      }

      .content {
        font-size: var(--f-u1);
        line-height: 2.2;
        max-width: 50em;
        margin: auto;
      }

      .wrapper {
        padding-bottom: 4em;
        margin-bottom: 4em;
      }

      footer {
        text-align: center;
        margin-top: 3rem;
      }
    </style>
  </head>
  <body class="dark:bg-gray-800 dark:text-white">
    <Nav />
    <section class="relative bg-white">
      <img
        class="absolute inset-0 object-[75%] sm:object-[25%] object-cover w-full opacity-25 sm:opacity-100"
        src={content.img}
        alt="Couple on a bed with a dog"
      />

      <div
        class="hidden sm:block sm:inset-0 sm:absolute sm:bg-gradient-to-r sm:from-white sm:to-transparent"
      >
      </div>

      <div
        class="relative px-4 py-32 mx-auto max-w-screen-xl lg:h-screen lg:items-center lg:flex"
      >
        <div class="max-w-xl text-center sm:text-left">
          <h1 class="text-3xl font-extrabold sm:text-5xl">
            {content.title}
          </h1>

          <p class="max-w-lg mt-4 sm:leading-relaxed sm:text-xl">
            {content.description}
          </p>

          <div class="flex flex-wrap mt-8 text-center gap-4">
            <a
              class="block w-full px-12 py-3 text-sm font-medium text-white rounded shadow bg-indigo-600 sm:w-auto active:bg-indigo-500 hover:bg-indigo-700 focus:outline-none focus:ring"
              href={content.urlPresentation}
              target="_blank"
            >
              Ver presentación
            </a>

            <a
              class="flex flex-wrap gap-4 flex-initial w-full px-12 py-3 text-sm font-medium bg-white rounded shadow text-indigo-600 sm:w-auto hover:text-indigo-700 active:text-indigo-500 focus:outline-none focus:ring"
              href={content.github}
              target="_blank"
            >
              <div>
                <svg
                  class="fill-black dark:fill-slate-300 w-6 h-6"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"
                  ></path>
                </svg>
              </div>
              <div>Repositorio</div>
            </a>
          </div>
        </div>
      </div>
    </section>
    <div class="wrapper">
      <div class="content"><slot /></div>
    </div>

    <footer>
      <a href="/presentations" class="button">Ver ponencias</a>
    </footer>
    <Footer />
  </body>
</html>
